/* * {
  outline: 1px solid red;
} */

/* reset start  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}
/* reset end */

body {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.wrap {
  max-width: 1366px;
  margin: 0 auto;
  overflow: hidden;
}
.content-wrap {
  max-width: 1222px;
  margin-left: 72px;
}
/* main start */
.main {
  width: 101%;
  min-height: 700px;
  background-image: url(./img/main-background.jpg);
  background-size: cover;
  background-position: center;
}

.wrap-logo {
  padding-top: 26px;
}
.content-wrap > p {
  max-width: 542px;
  color: rgb(49, 49, 49);
  font-family: Merriweather, sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}
.main-content-1 {
  padding-top: 62px;
}
.main-content-2 {
  padding-left: 91px;
}
.main-content-3 {
  padding-left: 34px;
}
.main-content-4 {
  padding-top: 24px;
  display: block;
  max-width: 542px;
  color: rgb(49, 49, 49);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  text-align: center;
}
.btn-block {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  max-width: 542px;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  border-radius: 66px;
  width: 263px;
  height: 72px;
  padding: 12px 49px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  text-align: center;
}

.button-left {
  color: rgb(255, 255, 255);
  background: rgb(31, 31, 31);
}
.button-right {
  border: 2px solid rgb(31, 31, 31);
  background: rgb(255, 255, 255);
  color: rgb(31, 31, 31);
}
.button-left:hover {
  color: rgb(31, 31, 31);
  background: rgb(251, 206, 81);
  transition: 0.3s;
}
.button-right:hover {
  color: rgb(255, 255, 255);
  background: rgb(31, 31, 31);
}

/* main end */

/* running-line start */
.running-line {
  width: 100%;
  display: flex;
  background-color: #f54932;
  overflow: hidden;
}
.separator-point {
  padding-left: 12px;
  padding-right: 12px;
}
.running-line-wrap-1,
.running-line-wrap-2 {
  flex-shrink: 0; /* чтобы блоки не наезжали  друг на друга */
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
  white-space: nowrap;
}

.running-line-content {
  font-family: Merriweather, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
}

.running-line-wrap-1 {
  animation: marquee1 60s infinite linear;
  animation-delay: -60s;
}

.running-line-wrap-2 {
  animation: marquee2 60s infinite linear;
  animation-delay: -30s; /* 40/2 = 20 */
}

@keyframes marquee1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

/* running-line end */

/* info-chess start */
.info-chess {
  margin-top: 80px;
}
.info-lecture {
  margin-left: 72px;
  display: flex;
  gap: 65px;
  /* justify-content: space-between; */
  align-items: center;
}

.info-lecture__desc,
.aside-desc {
  max-width: 764px;
  font-family: Merriweather;
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}
.topic-lecture {
  color: #f54932;
}

.info-chess-session__aside {
  padding-top: 48px;
  padding-left: 17px;
}
.info-chess-session {
  margin-left: 45px;
  margin-top: 17px;
  display: flex;
  /* align-items: flex-start; */
}
.info-chess-session__pic {
  object-fit: contain;
}
.aside-table {
  width: 704px;
  margin-top: 57px;
  border-collapse: collapse; /* объединили границы */
}
.left-column-table {
  padding: 16px 16px 16px 0;
  width: 306px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #313131;
  opacity: 70%;
  box-sizing: border-box;
}

.right-column-table {
  padding: 16px 0 16px 16px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.first-child {
  padding-top: 0;
}

td {
  border-bottom: 1px solid #d0d0d0; /* создает горизонтальную линию */
}

td + td {
  border-left: 1px solid #d0d0d0; /* создает вертикальную линию */
}

.last-child {
  position: relative;
  padding-bottom: 0;
  border-bottom: none;
}

.old-price {
  position: relative;
  text-decoration: none;
  padding-right: 6px;
}

.old-price::before {
  width: 81px;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-top: 2px solid red; /* Цвет линии зачеркивания */
  z-index: 1; /* ******* */
}
.aside-table__link-admin {
  display: block;
  margin-top: 48px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #3057a2;
}

/* info-chess end */

/* stages-of-transformation start */
.stages-transformation {
  width: 1222px;
  margin-top: 169px;
  margin-left: 72px;
}
.stages-transformation-wrap {
  display: flex;
  position: relative;
}
.stages-transformation-title {
  font-family: Merriweather, sans-serif;
  font-size: 54px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}
.source-of-wealth {
  max-width: 280px;
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #3057a2;
  position: absolute;
  top: 72px;
  left: 301px;
}
.grid-wrap {
  margin-top: 54px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 20px;
}

.grid-item {
  display: flex;
  /* background: rgb(239, 227, 209); */
  background-image: url(./img/bg.jpg);
  padding: 20px;
}
.number-item {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: block;
  background-color: #ffffff;
  color: #313131;
  padding-top: 5px;
  padding-left: 12px;

  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
}
.text-item {
  width: 315px;
  padding-left: 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.text-item-airplane {
  position: relative;
  width: 446px;
}
.grid-item-pic {
  position: absolute;
  padding-top: 20px;
  left: 92%;
  bottom: -20px;
}

.grid-item-7 {
  margin-left: 5px;
  grid-row: 3 / span 1;
  grid-column: 2 / span 2;
}

.grid-item-3 {
  grid-row: 1 / span 2;
  grid-column: 3 / span 1;
}
.participants-grid-button {
  display: none;
}
/* stages-of-transformation end */

/* start participants */
.participants {
  width: 1222px;
  margin-left: 72px;
  margin-top: 201px;
  margin-bottom: 138px;
  overflow: hidden;
}
.participants-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.participants-head-button {
  /* max-width: 151px; */
  display: flex;
}
.participant-about-btn:hover {
  color: #ffffff;
  background: #3057a2;
  transition: 0.3s;
}
.btn-arrow-left,
.btn-arrow-right {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #313131;
}

.btn-arrow-left:hover,
.btn-arrow-right:hover {
  transition: 0.3s;
  background: rgb(251, 206, 81);
}
.arrow-right {
  transform: rotate(180deg);
}
.count-participants {
  padding: 14px 14px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}
.participants-head-title {
  font-family: Merriweather, sans-serif;
  font-size: 54px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}
picture {
}
.participants-list {
  width: 100%;
  position: relative;
  left: 0;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  gap: 20px;
  /* justify-content: space-between; */
}
.participants-item {
  width: 394px;
  padding: 0 37px;
  text-align: center;
  flex-shrink: 0;
}
.participants-avatar {
}
.participant-name {
  padding-top: 28px;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
}
.participant-status {
  padding-top: 6px;
  padding-bottom: 18px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  opacity: 60%;
}
.participant-about-btn {
  max-width: 113px;
  padding: 12px;
  border-radius: 62px;
  border: 1px solid #3057a2;
  color: #3057a2;

  font-size: 16px;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: 0px;
}
/* participants end */

/* footer start */
.footer {
  background: rgb(239, 227, 209);
}
.footer-text {
  padding: 40px 4px 72px 72px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: left;
}
/* footer end */

@media screen and (max-width: 1334px) {
  .info-chess {
    padding: 20px;
  }
  .text-item,
  .running-line,
  .aside-table {
    width: 100%;
  }
  .text-item-airplane {
    width: 53%;
  }
  .stages-transformation,
  .participants {
    width: 100%;
    margin-left: 0;
    margin-top: 80px;
    padding: 20px;
  }
}
@media screen and (max-width: 1238px) {
  .participants-item {
    width: 335px;
  }
}
@media screen and (max-width: 1180px) {
  .content-wrap > p {
    font-family: Merriweather;
    font-size: 46px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0px;
    text-align: left;
  }

  .main-content-4,
  .aside-table__link-admin,
  .source-of-wealth {
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0px;
    top: 46px;
    left: 270px;
  }

  .info-lecture__desc,
  .aside-desc {
    font-family: Merriweather;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: left;
  }

  .stages-transformation-title,
  .participants-head-title {
    font-family: Merriweather;
    font-size: 46px;
    line-height: 46px;
    letter-spacing: 0px;
    text-align: left;
  }

  .running-line-content {
    font-family: Merriweather;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: right;
  }

  .text-item-airplane {
    width: 52%;
  }

  .text-item {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }
  .participants-item {
    padding: 0 10px;
  }
}
@media screen and (max-width: 1126px) {
  .participants {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 764px;
  }
}
@media screen and (max-width: 1072px) {
  .info-lecture {
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
  }

  .info-chess-session {
    width: 100%;
    padding-top: 30px;
    /* max-width: 764px; */
    flex-wrap: wrap;
    justify-content: center;
  }

  .grid-wrap {
    grid-template-columns: 1fr 1fr;
  }

  .grid-item-3 {
    grid-row: 2;
    grid-column: 1;
  }
  .grid-item-5 {
    grid-row: 3;
    grid-column: 1;
  }
  .grid-item-4 {
    grid-row: 2;
    grid-column: 2;
  }
  .grid-item-6 {
    grid-row: 3;
    grid-column: 2;
  }
  .grid-item-7 {
    grid-row: 4;
    grid-column: 1 / span 2;
  }
  .grid-item-pic {
    bottom: -33px;
  }

  .lecture-visit-description {
    display: block;
    padding-top: 261px;
  }

  .info-lecture__wrap-pic {
    position: absolute;
  }
  .stages-transformation {
    margin: 0 auto;
    margin-top: 50px;
    max-width: 764px;
  }

  .participants-list {
    gap: 25px;
  }
  .participants-item {
    width: 335px;
  }
  .info-chess-session__pic {
    max-height: 402px;
  }
}

@media screen and (max-width: 767px) {
  .main {
    display: flex;
    justify-content: center;
  }
  .content-wrap {
    margin-left: 0;
  }
  .content-wrap > p {
    font-family: Merriweather;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
  }
  .btn-block {
    flex-direction: column;
    max-width: 335px;
  }
  .btn {
    width: 100%;
  }

  .button-right {
    margin-top: 14px;
  }
  .info-lecture__desc,
  .aside-desc {
    margin: 0 auto;
    max-width: 560px;
  }
  .info-chess-session,
  .info-lecture {
    margin: 0;
  }

  .left-column-table,
  td + td {
    border-left: none;
  }

  .aside-table tr {
    margin-bottom: 10px; /* Добавляем отступ между блоками */
  }

  /* .aside-table td {
    display: block;
  } */

  .right-column-table {
    font-weight: bold; /* Чтобы выделить заголовки жирным */
  }

  .participants {
    position: relative;
    padding-bottom: 175px;
  }

  .participants-head-button {
    position: absolute;
    bottom: 101px;
    left: 50%;
    transform: translateX(-50%);
  }

  .stages-transformation-title,
  .participants-head-title {
    font-size: 36px;
  }
  .source-of-wealth {
    left: 0;
    top: 108%;
  }
  .grid-wrap {
    margin-top: 148px;
    display: flex;
    justify-content: center;
  }
  .text-item {
    max-width: 460px;
  }
  .grid-item {
    padding-top: 62px;
    max-width: 560px;
    flex-shrink: 0;
  }
  .grid-item-2,
  .grid-item-5 {
    padding-top: 28px;
  }

  /*  */
  .participants-grid-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 178px;
    padding-top: 27px;
  }
  .circle-default {
    padding-left: 6px;
  }
  .circle-first {
    padding: 0;
  }
  .btn-grid-left {
    display: block;
    margin-right: 16px;
  }
  .btn-grid-right {
    display: block;
    margin-left: 16px;
  }

  /*  */

  .wrap-item-block-1,
  .wrap-item-block-2 {
    background-image: url(./img/bg.jpg);
  }
}

@media screen and (max-width: 729px) {
  .participants-item{
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .wrap {
    overflow: hidden;
    position: relative;
    width: 375px;
  }
  .main {
    min-height: 812px;
    background-position: 0;
    background-image: url(./img/main-background-425.png);
    background-size: auto;
  }

  .wrap-logo {
    max-width: 213px;
    padding-top: 18px;
  }

  .main-content-1 {
    padding-top: 40px;
  }
  .main-content-2 {
    padding-left: 63px;
  }
  .main-content-3 {
    padding-left: 30px;
  }
  .main-content-4 {
    text-align: left;
  }

  .btn-block {
    padding-top: 32px;
  }
  .btn {
    padding: 0 43px;
    height: 47px;
  }
  .content-wrap {
    padding-left: 20px;
  }

  .running-line-wrap-1,
  .running-line-wrap-2 {
    padding: 10px 0;
  }
  /*  .running-line-wrap-1 {
    animation: marquee1 40s infinite linear;
    animation-delay: 0s;
  } */

  .running-line-top {
    top: 774px;
    position: absolute;
  }

  .info-lecture {
    justify-content: left;
  }
  .info-chess-session {
    padding-top: 22px;
  }
  .info-chess {
    padding: 0;
    margin-top: 48px;
  }
  .info-lecture {
    padding-left: 20px;
  }

  .info-chess-session__pic {
    max-height: max-content;
  }
  .info-chess-session__aside {
    position: relative;
    padding-top: 18px;
    padding-left: 20px;
  }

  .aside-table {
    margin-top: 45px;
  }

  .left-column-table {
    display: block;
    padding-bottom: 12px;
    border-bottom: none;
  }
  .right-column-table {
    display: block;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 14px;
  }

  .row-table-wrap {
    /* position: relative; */
    max-width: 225px;
  }

  .row-table-top {
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid #d0d0d0;
  }
  .row-table-bottom {
    position: absolute;
    left: 172px;
    bottom: 178px;
    border: none;
    padding: 0;
  }
  .aside-table__link-admin {
    margin-top: 27px;
  }

  .stages-transformation {
    position: relative;
    margin-top: 100px;
  }
  .stages-transformation-title,
  .participants-head-title {
    line-height: 40px;
  }
  .source-of-wealth {
    max-width: max-content;
  }
  .grid-wrap {
    margin-top: 202px;
    justify-content: left;
  }
  .wrap-item-block-1,
  .wrap-item-block-2 {
    min-height: 300px;
  }
  .text-item {
    width: 239px;
  }

  .grid-item {
    min-width: 335px;
  }
  .grid-item-2,
  .grid-item-5 {
    padding-top: 8px;
  }
  .text-item-airplane {
    position: static;
  }
  .grid-item-pic {
    bottom: 330px;
    left: 20px;
  }

  .participants {
    margin-top: 81px;
  }

  .participants-list {
    gap: 0;
    margin-top: 39px;
  }
  .participant-status {
    padding-bottom: 21px;
  }

  .btn-arrow-left,
  .btn-arrow-right {
    width: 36px;
    height: 36px;
  }
  .count-participants {
    display: block;
    width: 57px;
    white-space: nowrap;
    padding: 8px 12px;
  }

  .participants-head-button {
    display: flex;
  }
  .footer-text {
    width: 98%;
    padding: 40px 20px 60px 20px;
  }
}
