/* reset start  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}
/* reset end */

body {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.wrap {
  width: 1366px;
  margin: 0 auto;
}
.content-wrap {
  width: 1222px;
  margin: 0 auto;
}
/* main start */
.main {
  width: 1366px;
  min-height: 700px;
  background-image: url(./img/main-background.jpg);
  background-size: cover;
  background-position: center;
}

.wrap-logo {
  padding-top: 26px;
  display: flex;
}
.content-wrap > p {
  max-width: 542px;
  color: rgb(49, 49, 49);
  font-family: Merriweather, sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}
.main-content-1 {
  padding-top: 62px;
}
.main-content-2 {
  padding-left: 91px;
}
.main-content-3 {
  padding-left: 34px;
}
.main-content-4 {
  padding-top: 24px;
  display: block;
  max-width: 542px;
  color: rgb(49, 49, 49);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  text-align: center;
}
.btn-block {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  max-width: 542px;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  border-radius: 66px;
  width: 263px;
  height: 72px;
  padding: 12px 49px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  text-align: center;
}

.button-left {
  color: rgb(255, 255, 255);
  background: rgb(31, 31, 31);
}
.button-right {
  border: 2px solid rgb(31, 31, 31);
  background: rgb(255, 255, 255);
  color: rgb(31, 31, 31);
}
.button-left:hover {
  color: rgb(31, 31, 31);
  background: rgb(251, 206, 81);
}
.button-right:hover {
  color: rgb(255, 255, 255);
  background: rgb(31, 31, 31);
}

/* main end */

/* running-line start */
.running-line {
  width: 1366px;
  display: flex;
  background-color: #f54932;
  overflow: hidden;
}
.separator-point {
  padding-left: 12px;
  padding-right: 12px;
}
.running-line-wrap-1,
.running-line-wrap-2 {
  flex-shrink: 0; /* чтобы блоки не наезжали  друг на друга */
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
  white-space: nowrap;
}

.running-line-content {
  font-family: Merriweather, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
}

.running-line-wrap-1 {
  animation: marquee1 40s infinite linear;
  animation-delay: -40s;
}

.running-line-wrap-2 {
  animation: marquee2 40s infinite linear;
  animation-delay: -20s; /* 40/2 = 20 */
}

@keyframes marquee1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

/* running-line end */

/* info-chess start */
.info-chess {
  margin-top: 80px;
}
.info-lecture {
  margin-left: 72px;
  display: flex;
  gap: 68px;
  /* justify-content: space-between; */
  align-items: center;
}

.info-lecture__desc,
.aside-desc {
  max-width: 764px;
  font-family: Merriweather;
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}
.topic-lecture {
  color: #f54932;
}

.info-chess-session__aside {
  padding-top: 48px;
  padding-left: 17px;
}
.info-chess-session {
  margin-left: 45px;
  margin-top: 17px;
  display: flex;
  /* align-items: flex-start; */
}

.aside-table {
  width: 704px;
  margin-top: 57px;
  border-collapse: collapse; /* объединили границы */
}
.left-column-table {
  padding: 16px 16px 16px 0;
  width: 306px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #313131;
  opacity: 70%;
  box-sizing: border-box;
}

.right-column-table {
  padding: 16px 0 16px 16px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.first-child {
  padding-top: 0;
}

td {
  border-bottom: 1px solid #d0d0d0; /* создает горизонтальную линию */
}

td + td {
  border-left: 1px solid #d0d0d0; /* создает вертикальную линию */
}

.last-child {
  position: relative;
  padding-bottom: 0;
  border-bottom: none;
}

.old-price {
  position: relative;
  text-decoration: none;
  padding-right: 6px;
}

.old-price::before {
  width: 81px;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-top: 2px solid red; /* Цвет линии зачеркивания */
  z-index: 1; /* ******* */
}
.aside-table__link-admin {
  display: block;
  margin-top: 48px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #3057a2;
}

/* info-chess end */

/* stages-of-transformation start */
.stages-transformation {
  width: 1222px;
  margin-top: 166px;
  margin-left: 72px;
}
.stages-transformation-wrap {
  display: flex;
  position: relative;
}
.stages-transformation-title {
  font-family: Merriweather, sans-serif;
  font-size: 54px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}
.source-of-wealth {
  max-width: 280px;
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #3057a2;
  position: absolute;
  top: 72px;
  left: 301px;
}
.grid-wrap {
  margin-top: 54px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 20px;
}

.grid-item {
  position: relative;
  display: flex;
  background: rgb(239, 227, 209);
  padding: 20px;
}
.number-item {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: block;
  background-color: #ffffff;
  color: #313131;
  padding-top: 5px;
  padding-left: 12px;

  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
}
.text-item {
  width: 302px;
  padding-left: 16px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.text-item-airplane {
  width: 446px;
}
.grid-item-pic {
  position: absolute;
  padding-top: 20px;
  left: 465px;
  bottom: 0;
}

.grid-item-2-3 {
  margin-left: 5px;
  grid-row: 3 / span 1;
  grid-column: 2 / span 2;
}

.grid-item-3-3 {
  grid-row: 1 / span 2;
  grid-column: 3 / span 1;
}
/* stages-of-transformation end */

/* footer start */
.footer {
  background: rgb(239, 227, 209);
}
/* footer end */
