/* reset start  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}
/* reset end */

body {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.content-wrap {
  width: 1222px;
  margin: 0 auto;
}
/* main start */
.main {
  width: 1366px;
  min-height: 700px;
  background-image: url(./img/main-background.jpg);
  background-size: cover;
  background-position: center;
}

.wrap-logo {
  padding-top: 26px;
  display: flex;
}
.content-wrap > p {
  max-width: 542px;
  color: rgb(49, 49, 49);
  font-family: Merriweather, sans-serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0px;
  text-align: left;
  text-transform: uppercase;
}
.main-content-1 {
  padding-top: 62px;
}
.main-content-2 {
  padding-left: 91px;
}
.main-content-3 {
  padding-left: 34px;
}
.main-content-4 {
  padding-top: 24px;
  display: block;
  max-width: 542px;
  color: rgb(49, 49, 49);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  text-align: center;
}
.btn-block {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  max-width: 542px;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  border-radius: 66px;
  width: 263px;
  height: 72px;
  padding: 12px 49px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  text-align: center;
}

.button-left {
  color: rgb(255, 255, 255);
  background: rgb(31, 31, 31);
}
.button-right {
  border: 2px solid rgb(31, 31, 31);
  background: rgb(255, 255, 255);
  color: rgb(31, 31, 31);
}
.button-left:hover {
  color: rgb(31, 31, 31);
  background: rgb(251, 206, 81);
}
.button-right:hover {
  color: rgb(255, 255, 255);
  background: rgb(31, 31, 31);
}

/* main end */

/* running-line start */
.running-line {
  width: 1366px;
  display: flex;
  background-color: #f54932;
  overflow: hidden;
}
.separator-point {
  padding-left: 12px;
  padding-right: 12px;
}
.running-line-wrap-1,
.running-line-wrap-2 {
  flex-shrink: 0; /* чтобы блоки не наезжали  друг на друга */
  display: flex;
  padding-top: 18px;
  padding-bottom: 18px;
  white-space: nowrap;
}

.running-line-content {
  font-family: Merriweather, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
}

.running-line-wrap-1 {
  animation: marquee1 40s infinite linear;
  animation-delay: -40s;
}

.running-line-wrap-2 {
  animation: marquee2 40s infinite linear;
  animation-delay: -20s; /* 40/2 = 20 */
}

@keyframes marquee1 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-200%);
  }
}

/* running-line end */

/* info-chess start */

.info-lecture {
  display: flex;
  justify-content: space-between;
}

.info-chess-session {
  display: flex;
}
table {
  border-collapse: collapse; /* объединили границы */
}

td {
  border-bottom: 1px solid black; /* создает горизонтальную линию */
  padding: 5px;
}

td + td {
  border-left: 1px solid black; /* создает вертикальную линию */
}

.bottom-row {
  border-bottom: none;
}

/* info-chess end */

/* stages-of-transformation start */
.grid-wrap {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 5px;
}
.grid-item {
  background: rgb(239, 227, 209);
  padding: 20px;
  text-align: center;
}

.grid-item-2-3 {
  grid-row: 3 / span 1;
  grid-column: 2 / span 2;
}

.grid-item-3-3 {
  grid-row: 1 / span 2;
  grid-column: 3 / span 1;
}
/* stages-of-transformation end */

/* footer start */
.footer {
  background: rgb(239, 227, 209);
}
/* footer end */
